.auth-wrap {
    display: grid;
    width: 100%;
    height: 100vh;
    background: rgb(14, 22, 33);
    grid-template-columns: 33% auto 33%;
    grid-template-rows: 10% auto 10%;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
}

@media  (max-width: 1440px) {
    .auth-wrap {
        grid-template-columns: 24% auto 24%
    }
}

span:hover {
    color:coral;
}

.form {
    width: 100%;
    font-size: 25px;
    color: white;
    background: rgb(29, 50, 70);
    grid-row-start: 2;
    grid-column-start: 2;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 5% auto auto auto auto auto 15%;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    justify-items: center;
    align-items: center;
}

.labelIvan{
    color:coral;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;
    padding: 10px;
    font-weight: 500;
}

.choose{

}

.wrap-input-auth {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.input-auth {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    padding-bottom: 0.2rem;
    border-bottom: 0.05rem solid rgb(58, 133, 198);
    font-size: 1.5rem;
    text-align: center;
    background: rgb(29, 50, 70);
}


.input-auth:hover {
    border-bottom: 0.1rem solid rgb(58, 133, 198);
    padding-bottom: 0.15rem
}


.input-auth::placeholder {
    color: hsl(178, 65%, 40%);
    opacity: 0.4;
    text-align: center;
    font-weight: 500;
}


#fullName {
    color: white;

    align-self: center;
    justify-self: center;
    grid-row-start: 2;
    grid-column-start: 2;
}

#email {
    color: white;

    align-self: center;
    justify-self: center;
    grid-row-start: 3;
    grid-column-start: 2;
}

#login {
    color: white;

    align-self: center;
    justify-self: center;
    grid-row-start: 4;
    grid-column-start: 2;
}

#password {
    color: white;

    align-self: center;
    justify-self: center;
    grid-row-start: 5;
    grid-column-start: 2;
}

#conpass {
    color: white;

    align-self: center;
    justify-self: center;
    grid-row-start: 6;
    grid-column-start: 2;
}

#buttons {
    position: relative;
    align-self: start;
    grid-row-start: 7;
    grid-column-start: 2;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

#buttons button {
    pading: 5px;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(58, 133, 198);
    width: 12rem;
    height: 5rem;
    border: 0.04rem solid rgb(58, 133, 198);
    background: transparent;
    border-radius: 0.30rem;
    justify-items: center;
    align-items: center;
}

#buttons button:first-child {
    margin-right: 1.85rem;
}

.firstButt {
    color: #2196f3;
    margin-bottom: 30px;
}


.firstButt:hover {
    color: #333333;
    background: #2196f3;
    animation-name: ui-neon-hover;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes ui-neon-hover {
    from {
        box-shadow: 0 0 20px hsl(178, 94%, 65%);
    }
    to {
        box-shadow: 0 0 30px rgb(29, 50, 70);
    }
}

.secondButt:hover {
    animation-name: ui-neon-hover;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fields {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

}

